<!DOCTYPE html>
<html lang="ko">
<head>
  <h1> Mansheet-login </h1><br>
</head>

<body>
    <h3> 아이디와 비밀번호를 입력해주세요. </h3>
    <a> 아이디는 기수와 별명을 합하여 입력해주세요. ( ex : 11아리 )</a><br>
    <a> 비밀번호는 5~15자리입니다. </a><br><br>
    <form action="/login" method="post">
    ID: <input type="text" name="Uname" value="nn+XX"><br>
    Password: <input type="text" name="Password" value="password"><br>
    <input type="submit" value="Submit">
    </form>
    <br><br><br>
    <a href="/">Go back</a>
</body>
</html>
